name: Deploy Blazor WASM
on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Publish Project
        run: dotnet publish -c Release -o release

      - name: Manual Variable Injection
        run: |
          sed -i 's|##TABLE_NAME##|${{ secrets.VITE_TABLE_NAME }}|g' release/wwwroot/appsettings.json
          sed -i 's|##INSTANCE_ID##|${{ secrets.VITE_INSTANCE_ID }}|g' release/wwwroot/appsettings.json
          sed -i 's|##API_TOKEN##|${{ secrets.VITE_API_TOKEN }}|g' release/wwwroot/appsettings.json
        # This replaces the ##PLACEHOLDERS## with the actual secrets from GitHub

      - name: Add .nojekyll
        run: touch release/wwwroot/.nojekyll

      - name: Deploy to gh-pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: release/wwwroot
          branch: gh-pages