# ... after checkout step ...

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Publish Project
        run: dotnet publish -c Release -o release

      # PERFORM SUBSTITUTION ON THE FINAL PUBLISHED FILE
      - name: App Settings Variable Substitution
        uses: microsoft/variable-substitution@v1
        with:
          # Target the file in the RELEASE folder, not the source folder
          files: './release/wwwroot/appsettings.json'
        env:
          VITE_TABLE_NAME: ${{ secrets.VITE_TABLE_NAME }}
          VITE_INSTANCE_ID: ${{ secrets.VITE_INSTANCE_ID }}
          VITE_API_TOKEN: ${{ secrets.VITE_API_TOKEN }}

      - name: Add .nojekyll
        run: touch release/wwwroot/.nojekyll

      - name: Deploy to gh-pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: release/wwwroot
          branch: gh-pages